#myCarousel{
	margin:45px;
	margin-bottom: 15px;
	height: 600px;
	width: 800px;
	display: inline-block;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}

#myCarousel img{
	border-radius: 15px;
}
.carousel-control{
	border-radius: 15px;
}
.item{
	border-radius: 15px;
}
.carousel-caption{
	border-radius: 15px;
}
.carousel-inner{
	border-radius: 15px;
}


#text{
	border-radius: 15px;
	color:white;
	font-size: 1.3em;
	display: inline-block;
	width: 800px;
	background-color: #fb3640;
	margin-bottom: 50px;
	padding: 20px;
}

#pannellino{
	display: none;
	position: absolute;
	background-color: #00b4e5;
	color: white;
	width: 250px;
	min-height: 100px;
	left: 100%;
	margin-top: 5px;
	margin-left: -265px;
	font-size: 1.5em;
	padding: 15px;
	text-align: left;
	border: 2px solid #40CB50;
	border-radius: 10px;
	z-index:25;
	-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}
#accBtn-regLink{
	text-align: center;
}

.login-element{
	width: 90%;
	color: black;
	padding: 5px;
	padding-left: 10px;
	border-radius: 10px;
	border:0;
	outline: none;
}
#pannellino a{
	text-decoration: none;
	color: white;
	text-transform: capitalize;
}

nav{
	background-color: #00b4e5;
	width: 85%;
	height: 13%;
	display: inline-block;
	position: fixed;
	left: 15%;
	z-index: 100;
}



main{
	background-color: whitesmoke;
	width: 85%;
	height: auto;
	display: inline-block;
	position: relative;
	left: 15%;
	padding-top:10%;
	text-align: center
}


aside{
	display: inline-block;
	background-color: #00b4e5;
	width: 15%;
	position: fixed;
	height: 100%;
	/*border-right: 2px solid #00b4e5;*/
}
#logo-content{
	width: 100%;
}
#logo-content img{
	width: 100%;
	height: auto;
}
#menu ul{
	margin: 0;
	padding: 0;
}
#menu li{
	list-style: none;
	padding: 20px;
	padding-top: 10px;
	margin-top: 10px;
	border-bottom: 1px solid white;
}
#menu li a{
	text-decoration: none;
	color: white;
	font-size: 1.3em;
	display: block;
	transition: transform 0.3s;
	animation-name: slideInLeft;
}

#one{animation-duration: 0.5s}
#two{animation-duration: 0.7s}
#three{animation-duration: 0.9s}
#four{animation-duration: 1.1s}
#five{animation-duration: 1.3s}




.btnR{
	margin: 5px;
	margin-left: 0;
	border: 0;
	color: white;
	padding: 10px;
	text-decoration: none;
	outline: none;
	background-color: #40CB50;
	border-radius: 10px;
	font-weight: bold;
}



#popOfferta {
	border-radius: 10px;
	background-color: white;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	top: 30%;
	font-size: 16px;
	width: 500px;
	padding: 30px;
}

#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 30;
	cursor: pointer;
}

.glyphicon-remove{
	float: right;
}
.login-errato{
	cursor: pointer;
}

