#testo{
    text-align: left;
    font-size: 1.5em;
    margin-left: 15%;
    margin-right: 15%;
    
    }
    #titolo{
        text-align: left;
    font-weight: bold;
    font-size: 4em;
    margin-left: 15%;
    }
    
    .titolini{
    
        text-align: left;
        font-weight: bold;
        
    }