main{
    width:100%;
    left: 0;
}
nav{
    width: 100%;
    left: 0;
}
#immagine{
    width: 150px;
    height:100%;
}
#immagine img{
    width: 150px;
    height:100%;   
}
#ContenitoreRegistrazione{
    background-color: #fff;
    display: inline-block;
    width: 800px;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

#ContenitoreRegistrazione input,select{
    width: 250px;
    height: 35px;
    padding-left: 10px;
}

