@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	font-family: 'Hind Madurai', sans-serif;
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
#menu a:hover{
	transform: scale(1.1,1.1)
}

.ombra{
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);

}
#login-content{
	width: 40%;
	position: absolute;
	left: 60%;
	top: 15px;
	padding-right: 15px;
	text-align: right;
}
#login-content a{
	color:#00b4e5;
}
#login-content a:hover{
	text-decoration: none;
}
#login-content button{
	border: 0;
	margin: 5px;
	padding: 10px;
	outline: none;
	background-color:white;
	min-height: 70px;

	border-radius: 10px;
	color: #00b4e5;
	font-weight: bold;
	font-size: 1.2em;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	vertical-align: top;
}

#login-content button:hover{
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.glyphicon-log-in{
	font-size: 1.2em;
}
.glyphicon-user{
	font-size: 1.2em;
}
#text-login , .glyphicon-log-in{
	display: inline-block;
	vertical-align: top;
}


nav{
	background-color: #00b4e5;
	width: 85%;
	height: 20%;
	display: inline-block;
	position: fixed;
	left: 15%;
	z-index: 100;
}



main{
	background-color: whitesmoke;
	width: 85%;
	height: 80%;
	display: inline-block;
	position: absolute;
	top: 20%;
	left: 15%;
	padding: 20px;
	text-align: center;
	overflow-y: auto;
}


aside{
	display: inline-block;
	background-color: #00b4e5;
	width: 15%;
	position: fixed;
	height: 100%;
	/*border-right: 2px solid #00b4e5;*/
}
#logo-content{
	width: 100%;
	height: 20%;
	text-align: right;
}
#logo-content img{
	width: 100%;
	height: 100%;
}
#menu ul{
	margin: 0;
	padding: 0;
}
#menu li{
	list-style: none;
	padding: 20px;
	padding-top: 10px;
	margin-top: 10px;
	border-bottom: 1px solid white;
}

#menu li a{
	text-decoration: none;
	color: white;
	font-size: 1.3em;
	display: block;
	transition: transform 0.3s;
	animation-name: slideInLeft;
}

#one{animation-duration: 0.5s}
#two{animation-duration: 0.7s}
#three{animation-duration: 0.9s}
#four{animation-duration: 1.1s}
#five{animation-duration: 1.3s}
#six{animation-duration: 1.5s}
#seven{animation-duration: 1.7s}

#pannellino{
	display: none;
	position: absolute;
	background-color: #00b4e5;
	color: white;
	width: 250px;
	min-height: 100px;
	left: 100%;
	top: 90px;
	margin-top: 5px;
	margin-left: -265px;
	font-size: 1.5em;
	padding: 15px;
	text-align: left;
	border: 2px solid #40CB50;
	border-radius: 10px;
	z-index:25;
	-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}
#accBtn-regLink{
	text-align: center;
}

.login-element{
	width: 90%;
	color: black;
	padding: 5px;
	padding-left: 10px;
	border-radius: 10px;
	border:0;
	outline: none;
}
#pannellino a{
	text-decoration: none;
	color: white;
	text-transform: capitalize;
}
	
.btnR{
	margin: 5px;
	margin-left: 0;
	border: 0;
	color: #00b4e5;
	padding: 10px;
	text-decoration: none;
	outline: none;
	background-color: white;
	border-radius: 10px;
	font-weight: bold;
}

#login-btn1 , #login-btn2 , #login-btn3{
	display: none; 
}
#login-btn1{
	color: white;
	min-height: 70px;
	font-weight: bold;
	font-size: 1.2em;
	padding: 15px;
	text-align: center;
	vertical-align: middle;
}
#popOfferta {
	border-radius: 10px;
	background-color: white;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	top: 30%;
	font-size: 16px;
	width: 500px;
	padding: 30px;
}

#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 30;
	cursor: pointer;
}

#popOfferta2 {
	border-radius: 10px;
	background-color: white;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	top: 30%;
	font-size: 16px;
	width: 500px;
	padding: 30px;
}

#overlay2 {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 30;
	cursor: pointer;
}


#popOfferta3 {
	border-radius: 10px;
	background-color: white;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	top: 30%;
	font-size: 16px;
	width: 500px;
	padding: 30px;
}

#overlay3 {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 30;
	cursor: pointer;
}
#popOfferta4 {
	border-radius: 10px;
	background-color: white;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	top: 30%;
	font-size: 16px;
	width: 500px;
	padding: 30px;
}

#overlay4 {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 30;
	cursor: pointer;
}
#popOfferta5 {
	border-radius: 10px;
	background-color: white;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	top: 30%;
	font-size: 16px;
	width: 500px;
	padding: 30px;
}

#overlay5 {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 30;
	cursor: pointer;
}




.glyphicon-remove{
	float: right;
}
.login-errato{
	cursor: pointer;
}

.btnForm{
	border: 0;
	color: white;
	background-color:  #00b4e5;
	font-size: 1.1em;
	padding: 10px 40px 10px 40px;
	margin-left: 20px;
	margin: 20px;
}


#socialBar{
	display: inline-block;
	margin: 5px;
	padding: 10px;
	
}
#labelSocial{
	font-size: 1.2em;
	color: white;
	font-weight: bold;
}

#socialBar a{
	display: inline-block;
	padding: 5px;
	transition: transform 0.3s;
}
#socialBar a:hover{
	transform: scale(1.5,1.5);
}

.btn-overlay{
    border:0;
    color: white;
	background-color:  rgb(3, 99, 15);
	font-size: 1.1em;
	padding: 10px 40px 10px 40px;
	margin-left: 5px;
}
#annulla2{
    background-color: red;
}
#imgNav{
	height: 80%;
}
#imgNav img{
	margin: 10px;
	margin-left: 30px;
	height: 100%;
}
button{
	border: 0;
}